/*imported other CSS file to clean up this one so it is not so messy
REFERENCE: https://stackoverflow.com/questions/147500/is-it-possible-to-include-one-css-file-in-another */
@import url("imports.css");
/* STYLE GUIDE: Cleaned up reference text for sake of P02 -- Previous references can be found in P01 Submission by Joycelyn Tng   */
/*Header Styling*/
.navbar {
   overflow: hidden;
   border-bottom: solid .1em var(--secondcolor);
   border-bottom: .1em solid black;
   padding-left: 2em;
}

.navbar-bottom {
  float: right;
   overflow: hidden;
   width: 55%;
   text-align: right;
   margin-right: 0;
}

.navbar-bottom nav{
  margin-bottom: 0;
}

.navbar-bottom ul{
  float: right;
  width: 20%;
  list-style-type: none;
  text-align: right;
  font-size: 0.7em;
}

.navbar-bottom ul li{
  clear: both;
  font-weight: lighter;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6em;
}

.navbar-bottom ul li:nth-child(1){
  font-weight: bolder;
  font-size: 1em;

}

.navbar-bottom ul li a{
  position: block;
  float: right;
  color: var(--text);
  padding: 0;
  text-align: right;
}

.navbar-socials{
  float: left;
  display: inline-block;
  top: 0;
  left: 0;
  width: 30%;
  text-align: center;

}

/* Default styling */
html {
   background-color: var(--bg);
}

body {

   font-family: "Comfortaa", Helvetica;
   line-height: 160%;
   background-color: var(--bg);
   position: relative;
   align-items: center;
   border-radius: 1em;
   border-color: var(--black);
   border-width: .1em;
   border-bottom-style: dotted;
   border-style: ridge;
   /* border-top-width: 1.5rem; */
   border-left-style: solid;
   padding-bottom: 1.5em;
   /* margin-bottom: 5em; */
}

header p {
   margin-top: 2.5em;
   width: 30%;
}

.header-subheader {
   display: flex;
   justify-content: space-around;
   align-content:center;
   background-color: var(--container);
   margin:2em;
   margin-bottom: 2em;
   border-radius: 2em;
   flex-wrap: wrap;
}

.code {
   margin-left: 2em;
   margin-right: 2em;
   background-color:  var(--code);
   padding-left: .5rem;
   width: 80%;
   display: flex;
   align-content: space-around;
   align-items: center;
}

code {
   margin-left: 1rem;
}

.element {
   margin: 2rem;
   padding-bottom: 2rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   border-top-width: 1rem;
   border-style: ridge;
   border-top-color: var(--secondcolor);
   width: 60%;
   align-content: space-around;
   background-color: var(--white);
}

h1 {
   font-family: "Playfair Display";
   font-size: 4em;
   line-height: 90%;
   color: var(--text);
   margin-left: 4%;
   font-style: italic;
   font-weight: 400;
   text-decoration-line: underline;
}

h2 {
   font-family: "Playfair Display";
   font-size: 2.5em;
   line-height: 100%;
   margin-top: 4%;
   margin-left: 4%;
   color: var(--text);
}

h3 {
   font-family: "Playfair Display";
   font-size: 2em;
   line-height: 100%;
   margin-top: 4%;
   margin-left: 4%;
   color: var(--text);
}

h4 {
   font-family: "Playfair Display";
   font-size: 2em;
   margin-left: 4%;
   font-style: italic;
   line-height: 1em;
   color: var(--text);
}

p {
margin: 0.5em;
margin-top: 2%;
margin-left: inherit;
color: var(--text);
}

li {
   margin-left: 5%
}
   /* REFERENCE: https://www.w3schools.com/CSSref/css3_pr_filter.asp
   Used w3 schools to figure out the different filter functions for image states.*/
nav a:hover, nav a:focus{
   color: var(--white);
   background-color: var(--link);

}

nav a {
   font-weight: bolder;
   /* border-right: 0.1em solid black; */
   padding-left: 2em;
   padding-right: 2em;
   padding-top: 0.6em;
   padding-bottom: 0.6em;
   /* margin:0.6em; */
   float:left;
   height: 100%;
   /* background-color: var(--navg); */
   text-decoration: none;

}

.selected-tab{

  background-color: var(--bg);

  /* border-top: 0.1em solid black; */
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;

  box-shadow: 0.5em 0.2em 0.1em 0em rgb(0,0,0,0.4);
}


a {
   color: var(--link);
}

a:hover {
   text-decoration: none;
   color: var(--white);
}

   /* default link image state grayscale */
a img {
   filter:grayscale(100%);
}

a img:hover, img:focus {
   filter: brightness(1.15);
}

   /* REFERENCE: https://careerkarma.com/blog/css-rounded-corners/
   Used to figure out how to round out corners of padding. */
form {
   width:60%;
   padding: .5em;
   padding-top: 2em;
   padding-bottom: 2em;
   /* background-color: var(--navbg); */
   margin-bottom: 22px;
   padding-left: 20px;
   border-width: .01em;
   border-radius: 10px;
}

input {
  font: 300 1.2em "Comfortaa", monospace;
  background-color: var(--container);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.3em;
  width: 50%;
}

label {
   margin: 10px;
   background-color: var(--navbg);
   font-weight: bold;
   font: 1.5em "Comfortaa", monospace;
}

.order {
   position: absolute;
   top: 20%;

   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 85px;
   text-align: center;
}

.order-para {
   position: absolute;
   width: 851px;
   height: 143px;
   left: 329px;
   top: 679px;

   font-family: 'Comfortaa';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 164%;
/* or 30px */

text-align: center;
}

footer {
   display: block;
   overflow: hidden;
   border-top: solid .1em var(--secondcolor);
   border-bottom: none;
   margin-bottom: 0;
   padding-left: 2em;
   padding-right: 2em;
   padding-top: 2em;
}



/* INTERACTIVE ELEMENTS  */
.button-nav {
   color: var(--link);
}

.link-text {
   color: var(--link);
}

.img {
   width: 80%;
   height:auto;
}

.overlay-img {
   width: 100%;
/*let's pretend theres code here to make the text overlay it*/
}

.thumb-img {
   width: 60%;
   height:60%;
}

.pagenext-button {
   font-family: "Playfair Display";
   font-style: italic;


   padding: 1em;
   margin: 1em;
   background-color: var(--container);
}

.button{
   background-color: var(--buttoncolor);
   font-weight: bolder;
   border-radius: 0.25em;
   margin:10px;
}

.button:hover {
   background-color: black;
   color: var(--bg);
   border-color: var(--bg);
}

.button:focus {
   text-decoration: underline;
}

.button-link{
  font: 300 1.2em "Comfortaa", monospace;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  background-color: var(--buttoncolor);
  font-weight: bolder;
  border-radius: 1em;
  margin:10px;
  color: black;
  border: solid .25em black;
  text-decoration: none;
}

.button-link:hover {
   background-color: black;
   color: var(--bg);
   border-color: var(--bg);
}

.button-link:focus {
   text-decoration: underline;
}

.text_inputbox {
   color: var(--textinput);
}

.text_inputbox:hover, .text_inputbox:focus {
   color: var(--black);
}

/*COMBINED ELEMENTS*/

.centered-layout {

}

.centered-layout h3{
  text-align: center;
}

.centered-layout p {
  padding-left: 5%;
  padding-right: 5%;
}

.centered-layout form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centeredtext {
   transform: translateY(-250%);
   position: absolute;
   text-align: center;
   left: 0;
   right: 0;
   margin: 0 auto;
   color: white;

/* background-color: rgba(0,0,0, 1); /* semi transparent black*/
}



.checkout-item {
  display: grid;
  grid-template-columns: 20% 20% 15% 15% 15% 15% ;
  grid-template-rows: auto;
  grid-gap: 1em;
  /* overflow: hidden; */
  width: 100%;
  height: auto;
  text-align: left;
  border-bottom: solid 1px var(--black);
  padding: 2em;
}

/*container for checkout items*/
.cart {
   display: block;
   width: 80%;
   padding: 2em;
}

.checkout-item input[type=text]{
  width: 1em;
  height: 1em;
  margin-bottom: 0em;
  border-radius: 0.4em;
  border-style: none;
  background-color: var(--bg);
  text-align: center;
}

.checkout-item:hover{
  box-shadow: 0.1em 0.1em var(--secondcolor);
}

.checkout-item img{
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
  width: 7em;
  height: 7em;
}

.checkout-item-info-container{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;

  text-align: left;
}

.checkout-item-name{
  display: block;
}

.checkout-item-description{
  display: block;
  font-size: 0.8em;

}

.checkout-item-price{
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 1;
  grid-row-end: 2;

  text-align: center;

  padding-top: auto;
  padding-bottom: auto;
}

.checkout-item-quantity{
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;

  text-align: center;
  font-size: 1em;
  border-radius: 0.5em;



}

/*REFERENCE: https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 to figure out how to align items within container */

.listing {
   width:25%;
   background-color: var(--white);
   margin-bottom: 2em;
   padding: 2em;
   margin-top: 1em;
   border-width: .05em;
   border-style: solid;
   border-radius: 1em;
   justify-content: center;
   align-items: center;
}

.listing:hover, .listing:focus{
  box-shadow: 0.5em 0.2em 0.1em 0em rgb(0,0,0,0.4);
  transition: box-shadow 0.5s ease-in-out;

}

.listing h3{
  float: left;
  width: 60%;
}

.listing p {
   float: right;
   font-weight: bolder;
   display: flex;
}

.price {
  float: right;

  font-size: 3em;
  text-align: right;

}

.list-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

/*DIV*/
.container {
   display: flex;
   flex-wrap: wrap;
}
