/*
STYLE GUIDE: Cleaned up reference text for sake of P02 -- Previous references can be found in P01 Submission by Joycelyn Tng
   */

/*Colours
REFERENCE: https://developer.mozilla.org/en-US/docs/Web/CSS/:root
*/

/*INSERTT COLOURS HEREEE*/
:root {
   --bg: #f4dddc;
   --text: #000000;
   --secondcolor: #39200e;
   --code: #f0f0f0;
   --container: white;
}

@font-face {
       font-family: 'Comfortaa';
       src: url('Comfortaa-Regular.eot');
       src: url('Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
           url('Comfortaa-Regular.woff2') format('woff2'),
           url('Comfortaa-Regular.woff') format('woff'),
           url('Comfortaa-Regular.ttf') format('truetype'),
           url('Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
       font-weight: normal;
       font-style: normal;
       font-display: swap;
   }

@font-face {
    font-family: 'BIZ UDPMincho';
    src: url('BIZUDPMincho-Regular.eot');
    src: url('BIZUDPMincho-Regular.eot?#iefix') format('embedded-opentype'),
        url('BIZUDPMincho-Regular.woff2') format('woff2'),
        url('BIZUDPMincho-Regular.woff') format('woff'),
        url('BIZUDPMincho-Regular.ttf') format('truetype'),
        url('BIZUDPMincho-Regular.svg#BIZUDPMincho-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Header Styling*/
.navbar {
   overflow: hidden;
   width: 100%;
   margin-left: 3%
}


/* Default styling */
html {
   background-color: var(--bg);
}
body {
   font-family: Comfortaa, Helvetica;
   line-height: 160%;
   background-color: var(--bg);
}

header {
   position: relative;
   align-items: center;
   border-color: var(--secondcolor);
   border-width: .1em;
   border-bottom-style: dotted;
   border-style: ridge;
   border-top-width: 1.5rem;
   border-left-style: solid;
   padding-bottom: 1.5em;
   margin-bottom: 5em;
   /* background-color: #F2D3EA; */
}

header p {
   margin-top: 2.5em;
   width: 30%;
}

.header-subheader {
   display: flex;
   justify-content: space-around;
   align-content:center;
   background-color: var(--container);
   margin:2em;
   margin-bottom: 2em;
   border-radius: 2em;
   flex-wrap: wrap;
}

.code {
   margin-left: 2em;
   margin-right: 2em;
   background-color:  var(--code);
   padding-left: .5rem;
   width: 80%;
   display: flex;
   align-content: space-around;
   align-items: center;
}

code {
   margin-left: 1rem;
}

.element {
   margin: 2rem;
   padding-bottom: 2rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   border-top-width: 1rem;
   border-style: ridge;
   border-top-color: #39200e;
   width: 60%;
   align-content: space-around;
   background-color: white;
}

h1 {
   font-family: BIZUDPMincho;
   font-size: 3.5em;
   margin-top: 2%;
   margin-left: 4%;
   line-height: 100%;

}

h2 {
   font-family: BIZUDPMincho;
   font-size: 2.5em;
   line-height: 100%;
   margin-top: 4%;
   margin-left: 4%;
}

h3 {
   font-family: BIZUDPMincho;
   font-size: 2em;
   line-height: 100%;
   margin-top: 4%;
   margin-left: 4%;
}

h4 {
   font-family: BIZUDPMincho;
   font-size: 1.5em;
   margin-top: 4%;
   margin-left: 4%;
}

p {
margin: 0.5em;
margin-top: 2%;
margin-left: inherit;
}

li {
   margin-left: 5%
}
   /* REFERENCE: https://www.w3schools.com/CSSref/css3_pr_filter.asp
   Used w3 schools to figure out the different filter functions for image states.*/
nav a:hover, nav a:focus{
   color: white;
   background-color: #D14234;
}

nav a {
   font-weight: bolder;
   border-radius: 0.25em;
   border-color: #39200e;
   border-width: .3em;
   border-style:double;
   padding: .5em;
   margin:0.6em;
   float:left;
   background-color: #FFF6FD;
   text-decoration: none;
}


a {
   color: #D14234;
}

a:hover {
   text-decoration: none;
}

   /* default link image state grayscale */
a img {
   filter:grayscale(100%);
}

a img:hover, img:focus {
   filter: brightness(1.15);
}

   /* REFERENCE: https://careerkarma.com/blog/css-rounded-corners/
   Used to figure out how to round out corners of padding. */
form {
   width:60%;
   padding: .5em;
   padding-top: 2em;
   padding-bottom: 2em;
   background-color: #FFF6FD;
   margin-bottom: 22px;
   padding-left: 20px;
   border-width: 1em;
   border-style: double;
   border-radius: 10px;
}

input {
  font: 300 1.2em "Comfortaa", monospace;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

label {
   margin: 10px;
   background-color: #FFF6FD;
   font-weight: bold;
   font: 1.5em "Comfortaa", monospace;
}


/* INTERACTIVE ELEMENTS  */
.button-nav {
   color: #D14234;
}

.link-text {
   color: #D14234;
}

.img {
   width: 80%;
   height:auto;
}

.thumb-img {
   width: 60%;
   height:60%;
}

.button {
   background-color: #F2D3EA;
   font-weight: bolder;
   border-radius: 0.25em;
   margin:10px;
}

.button:hover {
   background-color: black;
   color: white;
}

.button:focus {
   text-decoration: underline;
}

.text_inputbox {
   color: #79797D;
}

.text_inputbox:hover, .text_inputbox:focus {
   color: black;
}

/*COMBINED ELEMENTS*/

.checkout-item {
  display: grid;
  grid-template-columns: 20% 20% 15% 15% 15% 15% ;
  grid-template-rows: auto;
  grid-gap: 1em;
  /* overflow: hidden; */
  width: 100%;
  height: auto;
  text-align: left;
  border-bottom: solid 1px #000;
  padding: 2em;
}

/*container for checkout items*/
.cart {
   display: block;
   width: 80%;
   padding: 2em;
}

.checkout-item input[type=text]{
  width: 1em;
  height: 1em;
  margin-bottom: 0em;
  border-radius: 0.4em;
  border-style: none;
  background-color: #f4dddc;
  text-align: center;
}

.checkout-item:hover{
  box-shadow: 0.1em 0.1em #39200e;
}

.checkout-item img{
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
  width: 7em;
  height: 7em;
}

.checkout-item-info-container{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;

  text-align: left;
}

.checkout-item-name{
  display: block;
}

.checkout-item-description{
  display: block;
  font-size: 0.8em;

}

.checkout-item-price{
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 1;
  grid-row-end: 2;

  text-align: center;

  padding-top: auto;
  padding-bottom: auto;
}

.checkout-item-quantity{
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;

  text-align: center;
  font-size: 1em;
  border-radius: 0.5em;



}

/*REFERENCE: https://uxplanet.org/how-to-create-a-shopping-cart-ui-using-html-css-e5db3cd55aa0 to figure out how to align items within container */

.listing {
   width:30%;
   background-color: #FFFFFF;
   margin-bottom: 2em;
   padding: 2em;
   margin-top: 1em;
   border-width: .5em;
   border-style: double;
   border-radius: 1em;
   justify-content: center;
   align-items: center;
}

.listing p {
   float: right;
   font-weight: bolder;
   display: flex;
}

.price {
   font-size: 3em;
}

.list-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

/*DIV*/
.container {
   display: flex;
   flex-wrap: wrap;
}
